{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
		<div class="col-lg-3">
			<h1 style="margin-top:70px">We are Team W!</h1>
			Flatswapp is a simple letting website that connects potential future tenants to the current tenant of a property or the owner. Users create profiles and add details of their current place of residence, including when they are moving out. Other users can then search an area and discover this property, contact the user and ask for their landlord’s details.<br />
		</div>
{% endblock %}
