<!DOCTYPE html>
{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Page
{% endblock %}

{% block body_block %}
<!--<html>
	<head>
		<title>Rango</title>
	</head>

	<body>-->
		<h1>Add a Page</h1>
		<div class="col-sm-4 mx-auto">
			<form id="page_form" method="post" action="/flatswapp/property/{{ property.slug }}/add_facility/">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="Create Page" />
			</form>
		</div>
{% endblock %}
<!--</body>
</html>-->