<!DOCTYPE html>
{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Property
{% endblock %}

{% block body_block %}
		<!--Form for adding property-->
		<div class="row">
		<div class="col-sm-2 mx-auto"  style="margin-top:70px">
		</div>
		<div class="col-md-4 mx-auto"  style="margin-top:70px">
			<h1>Add a Property</h1>
			<form  method="post" action="{% url 'webapp_flatswapp:add_property' %}" enctype="multipart/form-data">
				
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				<div id="lookup_field">
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				
				<a id="dummyButton"></a>
				</div>
		</div>
		<!--Form for adding images-->
			<div class="col mx-auto" style="margin-top:70px">
					<h2> Extra Images </h2>
					<div>
					{{ formset.management_form }}
					{% for form in formset %}
						{{ form.as_p }}	
					{% endfor %}
					</div>
						<div>
						<img id="img0" src="http://placehold.it/180" alt="your image" height="180" width="180"/>
						<img id="img1" src="http://placehold.it/180" alt="your image" height="180" width="180"/>
						<img id="img2" src="http://placehold.it/180" alt="your image" height="180" width="180"/>
						</div>
			</div>
			
					<div class="col-sm-3 mx-auto" style="margin-top:70px">
						
					</div>
			</div>
		</div>
		
				<div class="col text-center">
				<button class="btn btn-lg btn-primary" type="submit">Create Property</button>
				</div>
			</form>
				<!--Js to run date picker-->
				<script src="{% static 'datepicker.js' %}" type="text/javascript"></script>
			<!--Js to get detailed post code information-->
		<script src="{% static 'application-62cbe07e8297b2f73364c29ce8fb3cd697e988e993579c444ee3eee439cf0f87.js' %}"></script>
		<script src="{% static 'postcodes.min.js' %}"></script>
		<!--Use idealpostcodes API to validate and pop up address automatically-->
		<script src="{% static 'idealpostcodes.js' %}"></script>
		<!--Use postcodes_io API to get closest neighbourhoods and post codes to the entered post code-->
		<script src="{% static 'postcodes_io.js' %}"></script>
			
{% endblock %}
