<!DOCTYPE html>
{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Property
{% endblock %}

{% block body_block %}
<!--<html>
	<head>
		<title>webapp_flatswapp</title>
	</head>

	<body>-->
		
		<div class="col-sm-4 mx-auto"  style="margin-top:70px">
			<h1>Add a Property</h1>
			<form id="property_form" method="post" action="{% url 'webapp_flatswapp:add_property' %}" enctype="multipart/form-data"> <!--action="/flatswapp/add_category/"-->
				
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				<script>
				$('#datepicker').datepicker({
					uiLibrary: 'bootstrap4'
					
				});
				$('.gj-unselectable').width('400px');
				</script>
				<input type="submit" name="submit" value="Create Property" />
			</form>
		</div>
		
		<script>
			function getAPI()
			{
			alert("hey");
				(async () => {
				   let response = await new Promise(resolve => {
					  var xhr = new XMLHttpRequest();
					  xhr.open("GET", "http://api.postcodes.io/postcodes/"+document.getElementById('id_postcode').value, true);
					  xhr.onload = function(e) {
						var myObj = JSON.parse(this.responseText);
						
						document.getElementById('id_outward').value = myObj.result.outcode;
						resolve(xhr.response);
					  };
					  xhr.onerror = function () {
						resolve(undefined);
						console.error("** An error occurred during the XMLHttpRequest");
					  };
					  xhr.send();
				   }) 
				   getNeighbourhood();
				   getNearestPostCodes();	
				})()			
			};
			


			function getOutward() {
				alert("Working3" + "http://api.postcodes.io/postcodes/"+document.getElementById('id_postcode').value);
			  var xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
				if (this.status == 200) {
				var myObj = JSON.parse(this.responseText);
				document.getElementById('id_outward').value = myObj.result.outcode;
				alert(myObj.result.longitude);
				alert("Working2" + document.getElementById('id_longitude').value);

				}
			  };
			  xhttp.open("GET", "http://api.postcodes.io/postcodes/"+document.getElementById('id_postcode').value,true);
			  alert("Working4" + document.getElementById('id_longitude').value);
			  xhttp.send();
			};
			
			function getNeighbourhood() {
			  var xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
				if (this.status == 200) {
				var myObj = JSON.parse(this.responseText);
					document.getElementById('id_neighbour').value = myObj.result.admin_ward;
					alert(myObj.result.admin_ward);
				}
			  };
			  alert(document.getElementById('id_outward').value);
			  xhttp.open("GET", "http://api.postcodes.io/outcodes/"+document.getElementById('id_outward').value);
			  xhttp.send();
			};
			
			function getNearestPostCodes() {
			  var xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
				if (this.status == 200) {
				var myObj = JSON.parse(this.responseText);
					var outcodes="";
					alert("third");
					var i;
					for(i=0;i<5;i++)
					{
					outcodes+=myObj.result[i].outcode;
					}
					document.getElementById('id_nearest').value=outcodes;
				}
			  };
			  alert("third");
			  alert(document.getElementById('id_outward').value);
			  xhttp.open("GET", "http://api.postcodes.io/outcodes/"+document.getElementById('id_outward').value+"/nearest");
			  xhttp.send();
			};

			
			
			
		</script>
{% endblock %}
<!--</body>
</html>-->