<!DOCTYPE html>
{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Page
{% endblock %}

{% block body_block %}
		<!-- Add Facility Form in MultipleCheckBox-->
		<div class="col-sm-4 mx-auto" style="margin-top:70px">
			<h1>Add Facilities and Services</h1>
			<form id="page_form" method="post" action="/flatswapp/property/{{ property.slug }}/add_facility/">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="Add all" />
			</form>
		</div>
{% endblock %}
