{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<script src="{% static 'application-62cbe07e8297b2f73364c29ce8fb3cd697e988e993579c444ee3eee439cf0f87.js' %}"></script>
	<script src="{% static 'postcodes.min.js' %}"></script>
	
	<div class="col-sm-4 mx-auto" >
	<h1 style="margin-top:80px">Register for Flatswapp</h1>
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'webapp_flatswapp:index' %}">Return to the homepage.</a><br />
	{% else %}
		
		
		<form style="margin-top:20px" id="user_form" method="post" action="{% url 'webapp_flatswapp:register1' %}"
		
		enctype="multipart/form-data">

		{% csrf_token %}
		<div id="lookup_field">
		{{ profile_form.as_p }}


		

		<a id="dummyButton"></a>
 

		</div>
		<button class="btn btn-lg btn-primary" style="margin-top:20px" type="submit">Register</button>
		</form>
	</div>


	<script src="{% static 'idealpostcodes.js' %}"></script>

	{% endif %}
	
{% endblock %}