<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
		
		<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

		<!-- Bootstrap core CSS -->
		<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="floating-labels.css" rel="stylesheet">
	
		<title>
			Flatswapp Home Page
		</title>
	</head>
	<body>
	
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		{% if user.is_authenticated %}
			<a class="navbar-brand" href="#">Hey {{ user.username }}!</a>
		{% else %}		
			<a class="navbar-brand" href="#">Hello Guest!</a>
		{% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'webapp_flatswapp:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp_flatswapp:register' %}">Sign Up</a>
          </li>
		  
			{% if user.is_authenticated %}
			<li class="nav-item active">
			<a href="{% url 'webapp_flatswapp:logout' %}">Logout</a>
			</li>
			{% endif %}
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'webapp_flatswapp:login' %}">Login with Credentials</a>
              <a class="dropdown-item" href="#">Login with Google</a>
              <a class="dropdown-item" href="#">Login with Facebook</a>
			  <a class="dropdown-item" href="#">Login with Twitter</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
	
		<div>
			{% block body_block %}
			<h1>Welcome to Flatswapp!</h1>
			{% endblock %}
		</div>
		<div>
			{% block sidebar_block %}
			{% endblock %}
		</div>
		<hr />
		<!-- <div>
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'webapp_flatswapp:logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'webapp_flatswapp:register' %}">Sign up</a></li>
					<li><a href="{% url 'webapp_flatswapp:login' %}">Login</a></li>
					<li><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></li>
					<li><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></li>
					<li><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></li>
				{% endif %}
				<li><a href="{% url 'webapp_flatswapp:about' %}">About</a></li>
				<li><a href="{% url 'webapp_flatswapp:index' %}">Index</a></li>
			<ul>
		</div> -->
		
		<footer class="container">
			<p>&copy; Company 2017-2018</p>
		</footer>	
	</body>
</html>