<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>
			Flatswapp Home Page
		</title>
	</head>
	<body>
		<div>
			{% block body_block %}
			<h1>Welcome to Flatswapp!</h1>
			{% endblock %}
		</div>
		<div>
			{% block sidebar_block %}
			{% endblock %}
		</div>
		<hr />
		<div>
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'webapp_flatswapp:logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'webapp_flatswapp:register' %}">Sign up</a></li>
					<li><a href="{% url 'webapp_flatswapp:login' %}">Login</a></li>
					<li><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></li>
					<li><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></li>
					<li><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></li>
				{% endif %}
				<li><a href="{% url 'webapp_flatswapp:about' %}">About</a></li>
				<li><a href="{% url 'webapp_flatswapp:index' %}">Index</a></li>
			<ul>
		</div>
	</body>
</html>