{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title_block %}
Change Password
{% endblock %}

{% block body_block %}
	<div class="col-md-4 mx-auto">
	<form method="post" style="margin-top:70px">
		  {% csrf_token %}
			{% render_field form.old_password id="old_password" class="form-control" placeholder="Old Password"%}
			{% render_field form.new_password1 id="new_password1" class="form-control" placeholder="New Password"%}
			{% render_field form.new_password2 id="new_password2" class="form-control" placeholder="New Password Confirmation"%}
			{{ form.errors }}
			{{ form.help_text }}
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
	</form>
	</div>
{% endblock %}
