{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

<style>
.a
{
  display: block;
  text-align: center;
}
</style>

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	
	<form class="form-signin" style="margin-top:70px">
      <div class="text-center mb-4">
        <img src="https://i5.walmartimages.com/asr/3c559ef5-d1e2-4ab6-9762-25d7c6ff783d_1.2586e787bb54c23ac571712f76377199.jpeg" alt="Logo" width="80" height="80">
        <h2 class="h4 font-weight-normal">Login to Flatswapp</h2>
        <p> Find your tenant or landholder right now!</p>
      </div>
	<div class="col-sm-4 mx-auto">
      <div class="form-group">
		<label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>

      <div class="form-group">
		<label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
	
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</div>
	</form>
	  
	<!--<form id="login_form" method="post" action="{% url 'webapp_flatswapp:login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" />
		<br />
		Password: <input type="password" name="password" value="" size="50" />
		<br />
		<input type="submit" value="submit" />
	</form>-->
{% endblock %}