{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

<style>
.a
{
  display: block;
  text-align: center;
}
</style>

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	
	<form class="login_form" method="post" action="{% url 'webapp_flatswapp:login' %}" style="margin-top:70px">
	{% csrf_token %}
      <div class="text-center mb-4">
        <img src="{{ MEDIA_URL }}logo.jpg" alt="Logo" width="80" height="80">
        <h2 class="h4 font-weight-normal">Login to Flatswapp</h2>
        <p> Find your tenant or landholder right now!</p>
      </div>
	<div class="col-sm-4 mx-auto">
      <div class="form-group">
		<!--<label for="inputUser">Username</label> -->
        <input type="text" name="username" id="inputUser" class="form-control" placeholder="Username" required autofocus>
      </div>

      <div class="form-group">
		<!--<label for="inputPassword">Password</label>-->
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
	  
	  {% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</div>
	</form>
	  
	<!--<form id="login_form" method="post" action="{% url 'webapp_flatswapp:login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" />
		<br />
		Password: <input type="password" name="password" value="" size="50" />
		<br />
		<input type="submit" value="submit" />
	</form>-->
{% endblock %}