{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Flatswapp
{% endblock %}

{% block body_block %}
	<!-- <h1>Welcome to the homepage of Flatswapp</h1>
	<li><a href="{% url 'webapp_flatswapp:search' %}">Search Here</a></li>
	<div>
		{% if user.is_authenticated %}
			Hey {{ user.username }}!
		{% else %}
			Hello Guest!
		{% endif %}
		<br/>
	</div>-->
	<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">

      <h1 class="display-3">My Details</h1>
      <p>{{ user.username }}</p>
	  <p>{{ user.profile.mobile }}</p>
	  <p>{{ user.profile.address }}</p>

  </div>

  <div class="container">
    <!-- Example row of columns -->
    <h1 class="heading"> Customer Experience</h1>
	<div class="row">
      <div class="col-lg-6">
        <h2>Brendan</h2>
        <p> <img src="{{ MEDIA_URL }}persona1.jpg" alt="Persona1" width="200" height="200" style="float: left; margin-right: 10px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-6">
        <h2>Martha</h2>
        <p> <img src="{{ MEDIA_URL }}persona2.jpg" alt="Persona1" width="200" height="200" style="float: left; margin-right: 10px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}