<!DOCTYPE html>
{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if property %}
		{{ property.name }}
	{% else %}
		Unknown Category
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if property %}
	<h1 style="margin-top:70px">{{ property.name }}</h1>


	{% else %}
	The specified category does not exist.
	{% endif %}
	<div class="row" bis_skin_checked="1">
		{% for img in images %}
		<div class="col-md-4" bis_skin_checked="1">
              <div class="card mb-4 box-shadow" bis_skin_checked="1">
                <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ MEDIA_URL }}{{ img.image }}" data-holder-rendered="true">
                <div class="card-body" bis_skin_checked="1">
                </div>
              </div>
		</div>
		{% endfor %}
	</div>
	
	<div class="row" bis_skin_checked="1">
	
		
		<div class="col-md-4" bis_skin_checked="1">
		<h3>Facilities</h3>
		{% for fac in facilities %}
				<li>{{ fac.feature }}</li>
		{% endfor %}
		</div>

	</div>
	{% if user.is_authenticated %}
	<button onclick="javascript:loadDoc()">Add to Shortlist</button>
	{% endif %}	
	<script>
		function loadDoc() {
		  var xhttp = new XMLHttpRequest();
		  xhttp.open("GET", "http://localhost:8000/flatswapp/property/{{ property.slug }}/add_shortlist", true);
		  alert("Working4");
		  xhttp.send();
		}
	</script>
{% endblock %}
<!--
<!DOCTYPE html>
<html>

	<head>
		<title>Rango</title>
	</head>

	<body>
		<div>
		{% if category %}
			<h1>{{ category.name }}</h1>
			{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<strong>No pages currently in category.</strong>
			{% endif %}
		{% else %}
			The specified category does not exist.
		{% endif %}
		</div>
		<div>
		<a href="/rango/category/{{category.slug }}/add_page/">Add Page</a> <br/>
		</div>
		<div>
			<a href="/rango/">Index</a>
		</div>
	</body>
</html>
-->