{% extends 'webapp_flatswapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<h1>Register for Flatswapp</h1>
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'webapp_flatswapp:index' %}">Return to the homepage.</a><br />
	{% else %}
		<div class="col-sm-3 mx-auto" style="margin-top:20px">
		<strong>Register for Flatswapp!</strong><br />
		</div>
		<form class="col-sm-3 mx-auto" style="margin-top:20px" id="user_form" method="post" action="{% url 'webapp_flatswapp:register' %}"
		
		enctype="multipart/form-data">

		{% csrf_token %}

		{{ user_form.as_p }}
		{{ address_form.as_p }}
		{{ profile_form.as_p }}


		<div class="text-left mb-4" style="margin-top:20px">
			<button class="btn btn-lg btn-primary" type="submit">Register</button>
		</div>

	</form>
	{% endif %}
{% endblock %}