{% extends 'webapp_flatswapp/base.html' %}
{% load widget_tweaks %}

{% block body_block %}
  <!--<form method="get" style="margin-top:70px">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% for property in filter.qs %}
    <li>
	{{ property.slug }} - {{ property.id }} - {{ property.views }} - {{ property.name }} - {{ property.longitude }} - {{ property.latitude }}
	</li>
  {% endfor %}
  </ul>-->
  
  <form method="POST" style="margin-top:70px">
  {% csrf_token %}
    <div class="well">
      <h4 style="margin-top: 0">Search and Find Your New Place</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {% render_field filter.form.multi_name_fields class="form-control" placeholder="Keyword"%}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {% render_field filter.form.postcode class="form-control" placeholder="Postcode"%}
        </div>


	  </div>
	  <div class="row">
		<div class="form-group col-md-3">
			<p><strong>Rent Range</strong></p>
          {% render_field filter.form.price class="form-control" style="width:250px; display:block;"%}
        </div>
		<div class="form-group col-md-3">
			<p><strong>Date Range</strong></p>
          {% render_field filter.form.date class="form-control" %}
        </div>
		<div class="form-group col-sm-4 col-md-3">
			<p><strong>Furnished</strong></p>
          {% render_field filter.form.furnished class="form-control"%}
        </div>

	  </div>
			<script>
				$('#datepicker1').datepicker({
					uiLibrary: 'bootstrap4'
				});
				$('#datepicker2').datepicker({
					uiLibrary: 'bootstrap4'
				});
				$('#id_date_0').datepicker({
					uiLibrary: 'bootstrap4'
				});
				$('#id_date_1').datepicker({
					uiLibrary: 'bootstrap4'
				});
				$('.gj-unselectable').width('250px');
				document.getElementById("id_price_0").placeholder = 'From';
				document.getElementById("id_price_1").placeholder = 'To';
				document.getElementById("id_date_0").placeholder = 'From';
				document.getElementById("id_date_1").placeholder = 'To';
			</script>

        <!--<div class="form-group col-sm-4 col-md-3">
          {{ filter.form.year_joined.label_tag }}
          {% render_field filter.form.year_joined class="form-control" %}
        </div>
        <div class="form-group col-sm-8 col-md-6">
          {{ filter.form.groups.label_tag }}
          <div>
            {% for choice in filter.form.groups %}
              <label class="checkbox-inline">
                {{ choice.tag }} {{ choice.choice_label }}
              </label>
            {% endfor %}
          </div>
        </div>-->
      
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  {% if filter.qs %}
  <table class="table table-bordered">
    <thead class="text-center">
      <tr>
	    <th>Picture</th>
        <th>Details</th>
        <th>User Contact</th>

      </tr>
    </thead>
    <tbody>
      {% for property in filter.qs %}
        <tr>
		  <td style="width: 420px; height: 320px;">
			<img  src="{{ MEDIA_URL }}{{ property.cover }}" alt="" height="300" width="400" >
		  </td>
          <td>
		  <h3><strong>{{ property.name }}</strong></h2></br>
		  <strong>Furnished:</strong>{{ property.furnished }}</br>
		  <strong>Rent:</strong>{{ property.rent }}</br>
		  <strong>Nearest Neighbourhoods:</strong>{{ property.neighbour }}</br>
		  <a href="/flatswapp/property/{{ property.slug }}"><strong>See more details...</br></strong></a>
		  </td>
          <td style="width:400px">{{ property.user}}</br>
		  {{ property.user.email}}</br>
		  {{ property.user.mobile }}
		  </td>
		  
          <!--<td>
            {% for group in user.groups.all %}
              {{ group }}
            {% empty %}
              <em class="text-muted">No group</em>
            {% endfor %}
          </td>-->
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}